<ion-view title="Dashboard" class="dashboard" cache-view="false">
  <ion-content scroll="false">
    <div class="dashboard-content">
      <h1>SceneShare</h1>
      <p>It's like you were there.</p>
      <a
        href="/auth/google"
        ng-hide="user"
        class="button button-block button-light">
        <span>Sign in with Google</span>
      </a>
    </div>
    <a-scene>
      <a-assets timeout="10000">
        <img id="home" crossorigin="anonymous" src="https://s3-us-west-2.amazonaws.com/ionic-aframe/6979883093_7f0680e9b8_h.jpg">
      </a-assets>
      <a-sky src="#home"></a-sky>
    </a-scene>
  </ion-content>
</ion-view>
