<ion-view title="Feed" cache-view="false">
  <ion-content>
    <div class="padding">
      <div class="list card" ng-repeat="post in posts">

        <a href="#/tab/friend/profile/{{post.User.id}}">
          <div class="item item-avatar">
            <img ng-src="{{post.User.avatar}}">
            <h2>{{post.title}} by {{post.User.username}}</h2>
            <p>{{post.createdAt | date : mediumDate}}</p>
          </div>
        </a>

        <div class="item item-body">
          <a href="#/tab/friend/{{post.id}}">
            <img class="full-image" ng-src="{{post.url}}">
          </a>
          <p>
            {{post.description}}
          </p>
          <p>
            <div ng-show="user">
              <a href="#" ng-click="toggleLike(post.id, 1)" class="subdued">
                {{post.likes.length}}
                <i ng-show="post.liked" class="icon ion-ios-heart"></i>
                <i ng-hide="post.liked" class="icon ion-ios-heart-outline"></i>
              </a>
            </div>
            <div ng-hide="user">
               {{post.likes.length}}
               <i class="icon ion-ios-heart-outline"></i>
            </div>
          </p>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
