<ion-view title="Upload">
  <ion-content class="padding">
<!--     <form>
      <div class="list">
        <label for="fileUpload">Choose an image</label>
        <input file-model="file" class="inputfile" id="fileUpload" type="file" accept="image/*">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input ng-model="upload.title" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input ng-model="upload.description" type="text">
        </label>
      </div>

      <button ng-click="submit(upload)">Submit</button>


    </form> -->
    <input type="file" nv-file-select uploader="uploader"/><br/>
           <ul>
               <li ng-repeat="item in uploader.queue">
                   Name: <span ng-bind="item.file.name"></span><br/>
                   <button ng-click="item.upload()">upload</button>
               </li>
           </ul>
  </ion-content>
</ion-view>

<!--  <ion-view view-title="Upload">
  <ion-content class="padding">
    <p>Hello</p>

  </ion-content>
</ion-view>
 -->
