<ion-view title="Upload">
  <ion-content class="padding">


      <h3>Choose Your Image</h3>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

      <div ng-repeat="item in uploader.queue">
        <strong>{{ item.file.name }}</strong>
        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>

        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </div>

      <form ng-show="uploaded">
        <div class="list">

          <label class="item item-input">
            <span class="input-label">Title</span>
            <input ng-model="upload.title" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Description</span>
            <input ng-model="upload.description" type="text">
          </label>
        </div>

        <button ng-click="submit(upload)">Submit</button>

    </form>
  </ion-content>
</ion-view>

<!--  <ion-view view-title="Upload">
  <ion-content class="padding">
    <p>Hello</p>

  </ion-content>
</ion-view>
 -->
