a-scene {
  bottom: 49px;
}

.preview {
  /*width: 90%;*/
  width: auto;
  display: block;
  margin: 10px auto 10px auto;
  height: 200px;
}

.gallery {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashboard {
  color: #fff;
}

.dashboard p{
  font-family: 'Paytone One', sans-serif;
}

.dashboard h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Paytone One', sans-serif;
}

.welcome {
  height: 100%;
}

.custom-file-upload {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.upload-preview canvas {
  display:block;
  margin: 0 auto 10px auto;
}

.upload-preview h6 {
  text-align: center;
}

a {
  text-decoration: none;
}

.dashboard-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.notification {
  color: #ff0000;
}
