a-scene {
  bottom: 49px;
}

.preview {
  /*width: 90%;*/
  width: auto;
  display: block;
  margin: 10px auto 10px auto;
  height: 200px;
}

.gallery {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashboard {
  color: #673ab7;
  font-weight: 600;
}

.welcome {
  height: 100%;
}

.custom-file-upload {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.upload-preview canvas {
  display:block;
  margin: 0 auto 10px auto;
}

.upload-preview h6 {
  text-align: center;
}
